@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Color Configuration */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50));
  --color-primary-100: rgb(var(--tw-color-primary-100));
  --color-primary-200: rgb(var(--tw-color-primary-200));
  --color-primary-300: rgb(var(--tw-color-primary-300));
  --color-primary-400: rgb(var(--tw-color-primary-400));
  --color-primary-500: rgb(var(--tw-color-primary-500));
  --color-primary-600: rgb(var(--tw-color-primary-600));
  --color-primary-700: rgb(var(--tw-color-primary-700));
  --color-primary-800: rgb(var(--tw-color-primary-800));
  --color-primary-900: rgb(var(--tw-color-primary-900));

  --primary-color-0: #F5F5F5;
  --primary-color-10: #EDEDED;
  --primary-color-20: #D2D2D2;
  --primary-color-30: #AAAAAA;
  --primary-color-40: #808080;
  --primary-color-50: #666666;
  --primary-color-60: #555555;
  --primary-color-70: #444444;
  --primary-color-80: #333333;
  --primary-color-90: #222222;
  --primary-color-100: #111111;
}

@layer base {
  body {
    background-color: #ffffff;
    /* White background for the whole site */
  }

  /* Content area background color */
  .layout {
    background-color: #ffffff;
    /* White background for the content area */
  }

  /* Row background color */
  .row {
    background-color: #ffffff;
    /* White background for rows */
  }

  /* Font and Typography Setup */
  /* @font-face {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 100 900;
    font-display: block;
    src: url('/fonts/CircularStd-Book.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  } */

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* Typography classes */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1 {
    @apply font-bold;
    font-size: 2.75rem;
    line-height: 3.4rem
  }

  h2 {
    @apply font-bold;
    font-size: 2.25rem;
    line-height: 2.813rem;
  }

  h3 {
    @apply font-bold;
    font-size: 1.75rem;
    line-height: 2.363rem;

  }

  h4 {
    @apply font-bold;
    font-size: 1.5rem;
    line-height: 2.025rem;

  }

  body {
    @apply font-primary text-sm md:text-base;
  }

  p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    @apply font-primary;
  }
}

@layer components {

  /* Layout for container with responsive max-width and margin */
  .layout {
    max-width: 68.75rem;
    /* 1100px */
    @apply mx-auto w-11/12;
    /* Default width with margins for desktop */
  }

  /* Full-width container for banners or elements that need to extend fully */
  .full-width {
    @apply w-full;
    /* Full width, no margin or padding restrictions */
  }
}

@layer utilities {

  /* Tailwind Utilities for animated underline effect */
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right,
        var(--color-primary-400),
        var(--color-primary-500));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }

  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }

  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }

  /* Responsive margin handling for different breakpoints */
  /* Desktop View (≥ 1200px) */
  .layout {
    @apply px-20;
    /* 80px margin (40px on each side) */
  }

  /* Tablet View (768px–1199px) */
  @media (max-width: 1199px) and (min-width: 768px) {
    .layout {
      @apply px-10;
      /* 40px margin on both sides */
    }
  }

  /* Mobile View (320px–767px) */
  @media (max-width: 767px) {
    .layout {
      @apply px-5;
      /* 20px margin on both sides */
    }
  }
}


@media (max-width: 768px) {
  .text-display-1 {
    font-size: 2.75rem;
    /* 44px */
    line-height: 120%;
  }

  .text-display-2 {
    font-size: 2.5rem;
    /* 40px */
    line-height: 120%;
  }

  .text-display-3 {
    font-size: 2.25rem;
    /* 36px */
    line-height: 120%;
  }

  .text-header-1 {
    font-size: 2rem;
    /* 32px */
    line-height: 125%;
  }

  .text-header-2 {
    font-size: 1.75rem;
    /* 28px */
    line-height: 125%;
  }

  .text-header-3 {
    font-size: 1.625rem;
    /* 26px */
    line-height: 125%;
  }

  .text-header-4 {
    font-size: 1.5rem;
    /* 24px */
    line-height: 125%;
  }

  .text-sub-header-1 {
    font-size: 1.375rem;
    /* 22px */
    line-height: 125%;
  }

  .text-sub-header-2 {
    font-size: 1.25rem;
    /* 20px */
    line-height: 125%;
  }

  .text-sub-header-3 {
    font-size: 1.125rem;
    /* 18px */
    line-height: 125%;
  }

  .text-body-1 {
    font-size: 1rem;
    /* 16px */
    line-height: 150%;
  }

  .text-body-2 {
    font-size: 0.875rem;
    /* 14px */
    line-height: 150%;
  }

  .text-body-3 {
    font-size: 0.8125rem;
    /* 13px */
    line-height: 150%;
  }

  .text-body-4 {
    font-size: 0.75rem;
    /* 12px */
    line-height: 150%;
  }
}

.footerMain {
  display: none;
}

@media (min-width : 1024px) {
  .footerMain {
    display: flex !important;
  }
}

p.xl {
  line-height: 1.2rem;
  font-size: 1.125rem;
}

p.xl-150 {
  line-height: 1.5rem;
  font-size: 1.125rem;
}

p.large {
  line-height: 1.2rem;
  font-size: 1rem;
}


p.large-150 {
  line-height: 1.5rem;
  font-size: 1rem;
}


p.medium {
  line-height: 1.2rem;
  font-size: 0.875rem;
}

p.medium-150 {
  line-height: 1.5rem;
  font-size: 0.875rem;
}


p.small {
  line-height: 1.2rem;
  font-size: 12px;
}





h1.large {
  font-size: 4rem;
  line-height: 5rem
}

h1.medium {
  font-size: 3.25rem;
  line-height: 4.06rem
}


h1.small {
  font-size: 2.75rem;
  line-height: 3.438rem;
}